<aside class="widget text-center">
  <a href="{{ '/search/' | relative_url }}" class="btn btn-primary">
    <i class="fas fa-search"></i> Find-a-Squawk
  </a>
</aside>

<aside class="widget">
  <h4 class="widget-title">Internet Superstars</h4>
  <div class="text-center">
    <a href="https://youtube.com/@ChannelChirp">
      <img src="{{ '/images/beak_v2.png' | relative_url }}" alt="Beak">
    </a>
    <br>Chiiirrrp!<br>Click my beak!
  </div>
</aside>

<aside class="widget">
  <h4 class="widget-title">Coming Soon…</h4>
  <p><a href="#">Soundboard</a></p>
</aside>