<aside class="widget">
  <h4 class="widget-title">Internet Superstars</h4>
  <div class="text-center">
    <a href="https://youtube.com/@ChannelChirp">
      <img src="{{ '/images/beak_v2.png' | relative_url }}" alt="Beak">
    </a>
    <br>Chiiirrrp!<br>Click my beak!
  </div>
</aside>

<aside class="widget">
  <h4 class="widget-title">Find-a-Squawk</h4>
  <a href="{{ '/search/' | relative_url }}" class="btn btn-primary btn-sm-pill">
    <i class="fas fa-search"></i> Search?
  </a>
</aside>

<aside class="widget">
  <h4 class="widget-title">Archives</h4>
{% include archive-dropdown.html %}
  <p><a href="/timeline/">Timeline</a></p>
</aside>

<aside class="widget">
  <h4 class="widget-title">Coming Soon…</h4>
  <p><a href="#">Soundboard</a></p>
</aside>