<aside class="widget">
  <h4 class="widget-title">Internet Superstars</h4>
  <div class="text-center">
    <a href="https://youtube.com/@ChannelChirp">
      <img src="{{ '/images/beak_v2.png' | relative_url }}" alt="Beak">
    </a>
    <br>Chiiirrrp!<br>Click my beak!
  </div>
</aside>

<aside class="widget">
  <h4 class="widget-title">Find-a-squawk</h4>
  <form class="search-form" role="search" method="get" action="#">
    <label>
      <input type="search" class="search-field" placeholder="Search …" name="s">
    </label>
    <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button>
  </form>
</aside>

<aside class="widget">
  <h4 class="widget-title">Coming Soon…</h4>
  <p><a href="#">Soundboard</a></p>
</aside>